header {
    background:  #394867;
    color: #fff;
    padding: 15px 0;
    font-size: 24px;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
    letter-spacing: 1px;
}

.logo {
  font-size: 3rem;
  font-weight: bold;


 background:linear-gradient(90deg, #00f7ff, #001f7f);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  
  animation: text-animation 3s infinite linear,
             spin 5s infinite ease-in-out;
}

/*aqui faz piscar*/
@keyframes text-animation {
  0%   { background-position: 0%; }
  100% { background-position: 200%; }
}
/*aqui faz girar*/
@keyframes spin {
  0%   { transform: rotateY(0deg); }
  40%  { transform: rotateY(360deg); } 
  100% { transform: rotateY(360deg); } 
}

.barra ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.barra ul li a {
    text-decoration: none;
    color: #0e0c0c;
    font-weight: bold;
}

.barra ul li a:hover {
    color: #b3e5ff;
}

#pisca {
  color: red;
  font-weight: bold;
  animation: piscar 1s infinite;
}

@keyframes piscar {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#gif {
  display: block;
  margin: 0 auto; /* centraliza horizontalmente */
}

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;




}
* {
  font-family: 'inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

footer {
  width: 100%;
  color: var(--color-neutral-40);
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3 ;
}

#whatsapp {
background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: var(--color-neutral-30);
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: #b3e5ff;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer_subscribe p {
  color: var(--color-neutral-30);
}

#input_group{
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 4px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

#input_group button {
  background-color: #b3e5ff;
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

@media screen and (max-widht: 768px) {
  #footer_content{
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
}

@media screen and (max-widht: 426px) {
  #footer_content{
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
  
}

footer {
  margin-top: 50px;
}