/*Variáveis globais */
:root {
    --cor-principal:#b3e5ff;
    --cor-fundo: #f0f2f5;
    --cor-texto: #333;
    --cor-header: #2c3e50;

    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

    --espacamento-padrao: 20px;
    --borda-arredondada: 8px;
}




/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
    letter-spacing: 1px;
}

/* Corpo da página */
body {
    background-color: var(--cor-fundo);
    line-height: 1.6;
     background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  color: #222;
}

/* HEADER */
header {
    background-color: #394867; 
    color: #f9f9f9;
    padding: var(--espacamento-padrao) 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h3 {
    margin: 0;
    font-size: 28px;
    letter-spacing: 2px;
}

/* NAVBAR */
.barra ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.barra ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.barra ul li a:hover {
    color: #b3e5ff;
}


/* CONTEÚDO */
.content {
    max-width: 1000px;
    margin: var(--espacamento-padrao) auto;
    padding: 0 var(--espacamento-padrao);
}

.content h3 {
    text-align: center;
    color: var(--cor-header);
    margin-bottom: var(--espacamento-padrao);
}

/* VÍDEO RESPONSIVO */
.media-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 20px auto;
    border-radius: var(--borda-arredondada);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.media-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* IMAGENS */
.media-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espacamento-padrao);
    margin: 30px 0 50px;
}

.media-wrapper img {
    max-width: 100%;
    border-radius: var(--borda-arredondada);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.media-wrapper img:hover {
    transform: scale(1.03);
}

/* CARDS DE JOGOS */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    max-width: 1000px;
    margin: auto;
    
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #000;
    text-align: center;
    box-shadow: 0 4px 10px rgba(55, 51, 58, 0.5);
    height: 400px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.card:hover img {
    transform: scale(1.05);
}

.card-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.green {
    background: #1f3b4d
}

.red {
    background: #1b2733;
}

.orange {
    background: rgba(180, 0, 40, 0.9);
}

.blue {
    background: rgba(255, 120, 40, 0.9);
}

/* FOOTER */
footer {
    width: 100%;
    margin-top: 50px;
    color: var(--color-neutral-40);
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem;
    gap: 2rem;
}

#footer_social_media {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    color: var(--color-neutral-40);
    transition: opacity 0.3s;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
    
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    text-decoration: none;
}

#facebook {
    background-color: #4267b3;
    text-decoration: none;
}

#whatsapp {
    background-color: #25d366;
    text-decoration: none;
}

.footer-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-decoration: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: color 0.3s;
    text-decoration: none;
}

.footer-list .footer-link:hover {
    color: var(--cor-principal);
    text-decoration: none;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#input_group {
    display: flex;
    background: var(--color-neutral-0);
    border-radius: 4px;
    overflow: hidden;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    flex: 1;
    color: white;
}

#input_group button {
    background-color: #b3e5ff;
    border: none;
    color: white;
    padding: 0 1.25rem;
    cursor: pointer;
    transition: opacity 0.3s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    text-align: center;
    background: var(--color-neutral-0);
    padding: 1rem;
    font-size: 0.9rem;
}

/* SIDEBAR */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #50688f;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s;
    overflow: hidden;
     z-index: 1000;
}


#sidebar.collapsed {
    width: 70px;
}

#sidebar_content {
    flex-grow: 1;
}

#user {
    display: flex;
    align-items: left;
    padding: 20px;
    transition: all 0.3s;
   
}

#user_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s;
}

#sidebar.collapsed #user_avatar {
    width: 40px;
    height: 40px;
}

#user_infos {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    transition: opacity 0.3s;
}

#sidebar.collapsed #user_infos {
    opacity: 0;
}

#side_items {
    list-style: none;
    padding: 0;
    margin-top: -500px;
   
}

#side_items li {
    width: 100%;
   position: relative;
   height: 50px;
   top: 10px;
   gap: 0;
}

#side_items li a {
    display: flex;
    padding: 12px 20px;
    text-decoration: none;
    color: #fff;
    transition: background 0.2s;
}

#side_items li a:hover {
    background-color: #343454;
}

#side_items li a i {
    min-width: 25px; 
    text-align: center;
    font-size: 18px;
}

#sidebar.collapsed .item-description {
    display: none;
}
/* RESPONSIVIDADE */
@media (max-width: 1024px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    #footer_content {
        grid-template-columns: 1fr;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .container {
        grid-template-columns: 1fr;
    }
}